$bp-widescreen: 1024px;
$bp-tablet: 767px;
$bp-grid: 500px;

@mixin widescreen() {
  @media screen and (min-width: $bp-widescreen) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width: $bp-tablet) {
    @content;
  }
}

@mixin grid() {
  @media screen and (min-width: $bp-grid) {
    @content;
  }
}
