:root {
  --padding: 1.5em;
  --site-width: 90rem;
  --fw-thin: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  --fs-header: 1.5rem;
  --fs-normal: 1.1rem;
  --fs-items: 1rem;

  --line-height: 1.5;

  --theme-transition: background 350ms ease-in, color 350ms ease-in,
    box-shadow 350ms ease-in;

  @media screen and (min-width: 767px) {
    --fs-header: 2rem;
  }

  --clr-elements: hsl(0, 0%, 100%);
  --clr-background: hsl(0, 0%, 96%);
  --clr-shadow: hsl(0, 0%, 80%);
  --clr-text: hsl(200, 15%, 8%);
  --clr-input: hsl(0, 0%, 52%);

  &.dark {
    --clr-elements: hsl(209, 23%, 22%);
    --clr-background: hsl(207, 26%, 17%);
    --clr-shadow: hsl(207, 26%, 10%);
    --clr-text: hsl(0, 0%, 100%);
    --clr-input: hsl(0, 0%, 80%);
  }

  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body {
  background: var(--clr-background);
  color: var(--clr-text);
  font-size: var(--fs-normal);
  line-height: var(--line-height);
  transition: var(--theme-transition);
}

h1 {
  font-size: var(--fs-header);
  font-weight: var(--fw-bold);
}

img {
  max-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  max-width: var(--site-width);
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin: 0 auto;
}
